@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar (Instagram-style) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-play-button {
  display: block;
}

video::-webkit-media-controls {
  overflow: hidden;
}
